* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Nunito Sans' sans-serif;
}
 body {
    background: #24293b;
    color: #FFF;
    overflow: hidden;
    overflow-y: scroll;
 }